<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Ipragmatech_Ipcheckout::ipotp" title="OTP" sortOrder="100"/>
                <resource id="Ipragmatech_Ipcheckout::config_twiliosetting" title="Twilio Setting" sortOrder="80"/>
 				<!--AddMenuAcl-->
            </resource>
        </resources>
    </acl>
</config>
