<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Ipragmatech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Ipragmatech_Ipcheckout::ipragmatech_otp_index" title="OTP" module="Ipragmatech_Ipcheckout"  sortOrder="20" dependsOnModule="Ipragmatech_Ipcheckout" action="ipcheckout/otp/index" resource="Ipragmatech_Ipcheckout::ipragmatech_otp_index"/>
<!--AddMenu-->
    </menu>
</config>
